.About {
  text-align: center;
}
div.about {
  color: black;
  text-shadow: 0px 0px 3px lime;
  font-size: x-large;
  min-height: 100%;
}
div.about-info {
  color: white;
  text-shadow: none;
  font-weight: bold;
  background-color: black;
}
