@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Nova+Square&family=Orbitron:wght@500&display=swap');
.App {
  text-align: center;
}
body {
  width: 100vw;
  height: 100vh;
  text-align: center;

  background-color: black;

  font-family: 'Orbitron', sans-serif;
}

header {
  width: 100vw;
}

.logo__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  min-height: 40vh;
  width: auto;
}

main {
  width: 100vw;
  text-align: center;
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: hotpink;
}
a:hover {
  color: lime;
}

nav.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: bold;
}
div.home-page {
  color: rgb(228, 17, 122);
  margin-top: 4rem;
  font-weight: bold;
  text-shadow: 0 0 6px black;
}

.hours {
  font-size: 2rem;
  margin: 0;
  color: rgb(228, 17, 122);
  font-family: 'Nova Square', cursive;
  line-height: 5rem;
  letter-spacing: 0.25rem;
}
.maybe {
  color: rgb(228, 17, 122);
  font-family: 'Nosifer', cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}
.welcome {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}
