@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Nova+Square&family=Orbitron:wght@500&display=swap');
.App {
  text-align: center;
}
body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: white;
  background-color: black;
  background-image: url(https://i.imgur.com/bQ0vbOn.png);
  background-position: bottom;
  background-size: 25%;
  background-repeat: no-repeat;

  font-family: 'Orbitron', sans-serif;
}

header {
  width: 100vw;
}

main {
  width: 100vw;
  text-align: center;
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: hotpink;
}
a:hover {
  color: lime;
}

nav.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  /* background-color: black; */
}
div.home-page {
  min-height: 100%;
  color: rgb(228, 17, 122);

  margin-top: 3%;

  font-weight: bold;
  text-shadow: 0 0 6px black;
}

h2.home {
  color: rgb(228, 17, 122);
  font-size: 2em;
  font-weight: bold;
  font-family: 'Nova Square', cursive;
}

p.home {
  font-size: 2em;
  /* margin-top: 40px; */
  color: rgb(228, 17, 122);
  font-family: 'Nova Square', cursive;
}
h2.maybe {
  margin-top: 20px;
  color: rgb(228, 17, 122);
  font-family: 'Nosifer', cursive;
}
