div.appointments-page {
  color: white;
}
.add-appointment {
  margin-top: 1em;
  display: grid;
}
.appointment-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
