.Services {
  text-align: center;
}
div.services-page {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.c2UkYdtnk8wBPJAOjWigwAHaEK%26pid%3DApi&f=1);
  height: 250vh;
}
h1 {
  text-align: center;
}
img {
  max-height: 20vh;
  max-width: 20vw;
  display: inline-block;
}
div.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  row-gap: 15px;
  justify-content: space-evenly;
}
p.services {
  text-rendering: optimizeLegibility;
  font-style: italic;
  margin: 16px 200px 0px 200px;
  text-align: center;
  font-stretch: wider;
}
