.Services {
  text-align: center;
}
.services-page {
  color: white;
}
h1 {
  text-align: center;
  margin-top: 2em;
  letter-spacing: 0.15em;
}
img {
  max-height: 20vh;
  max-width: 20vw;
  display: inline-block;
}
div.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: space-evenly;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.services {
  display: block;
  /* font-style: italic; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 0.5em;
  width: 50%;

  font-weight: bold;
}
.service-name {
  color: rgb(228, 17, 122);
}
